<html>

<head>


</head>


<body>
    <h1>HOUSE PRICE PREDICTION </h1>

    <form action="/predict" method="post">
        <label >CRIM: </label> <input type="text" name="CRIM" > <br> <br>
        <label >ZN: </label> <input type="text" name="ZN" > <br> <br>
        <label >INDUS: </label> <input type="text" name="INDUS" > <br> <br>
        <label >CHAS: </label> <input type="text" name="CHAS" > <br> <br>
        <label >NOX: </label> <input type="text" name="NOX" > <br> <br>
        <label >RM: </label> <input type="text" name="RM" > <br> <br>
        <label >AGE: </label> <input type="text" name="AGE" > <br> <br>
        <label >DIS: </label> <input type="text" name="DIS" > <br> <br>
        <label >RAD: </label> <input type="text" name="RAD" ><br> <br>
        <label >TAX: </label> <input type="text" name="TAX" > <br> <br>
        <label >PTRATIO: </label> <input type="text" name="PTRATIO" > <br> <br>
        <label >B: </label> <input type="text" name="B" > <br> <br>
        <label >LSTAT: </label> <input type="text" name="LSTAT" > <br> <br>

        <input type="submit" value="pred">{{pred}}
       
    </form>
</body>

</html>